<div class="top"></div>
<div class="item">
	<p align="center">
		<%= link_to 'Dodaj nowe wydarzenie', new_admin_wydarzenie_path %>
	</p>
	<table>
	  <thead>
	    <th>Tytuł:</th>
	    <th width="80px">Dodano:</th>
			<th width="100px">Akcje:</th>
	  </thead>
		<tbody>
			<%- if @wydarzenia.blank? -%>
			<tr>
				<td colspan=3 align="center">Brak wydarzeń!</td>
			</tr>
			<%- end -%>
			<% for wydarzenie in @wydarzenia %>
			  <tr id="element_<%= wydarzenie.id %>">
			    <td class="first"><%= wydarzenia_link wydarzenie %></td>
					<td><%= wydarzenie.created_at.strftime("%d-%m-%Y") %></td>
			    <td>
						<%= link_to 'Edytuj', edit_admin_wydarzenie_path(wydarzenie) %>
						<%= ajax_remove wydarzenie, admin_wydarzenie_path(wydarzenie), 'wydarzenie' if moderator? %>
					</td>
			  </tr>
			<% end %>
			<tr>
				<td colspan=3 align="center"><%= will_paginate @wydarzenia %></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="bottom"></div>